language: python
matrix:
  include:
  - python: '3.6'
    env: TOXENV=py36
  - python: '3.6'
    env: TOXENV=lint
install:
  - pip install tox codecov
script:
  - tox -e $TOXENV
after_success:
  - codecov
